.details {
    min-height: 100%;
    background: none;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 50px;
}

.header {
    background: none;
}